* {
  box-sizing: border-box;
}

/* Custom Airbnb Cereal font downloaded using the browser Dev Tools' Network tab
and then implemented using the instructions at: https://css-tricks.com/snippets/css/using-font-face-in-css/
and at: https://www.hacksoft.io/blog/using-multiple-font-files-the-right-way. */
@font-face {
  font-family: "Cereal";
  src: url("/fonts/airbnb-cereal-book.woff2") format("woff2");
  font-weight: 100; /* Lighter (relative weight). */
}

@font-face {
  font-family: "Cereal";
  src: url("/fonts/airbnb-cereal-medium.woff2") format("woff2");
  font-weight: 400; /* Normal. */
}

@font-face {
  font-family: "Cereal";
  src: url("/fonts/airbnb-cereal-bold.woff2") format("woff2");
  font-weight: 700; /* Bold. */
}

body {
  font-family: "Cereal", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  color: #222222;
  background-color: #ffffff;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

.sticky {
  /* As taken from the "position: sticky" section at: https://www.w3schools.com/css/css_positioning.asp.
  And used in conjunction with the "top: 0" CSS rule in, for example,
  the "search-categories-menu" CSS class selector in the header.css file. */
  position: -webkit-sticky; /* Safari. */
  position: sticky;
}
