.search-categories-menu {
  top: 0;
}

.search-section {
  margin: 14px 16px 0 16px;
}

.categories-section {
  margin: 12px 24px 12px 24px;
}

.search-container {
  display: grid;
  grid-template-columns: 42px auto;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px;
  border-radius: 40px;
  height: 55.5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.categories-container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-template-areas: none;
  grid-template-rows: 74px;
}
